{% extends "base.html" %}
{% load static %}

{% block title %}Spenden{% endblock %}

{% block content %}
<section class="py-5 bg-light">
  <div class="container" style="max-width: 700px;">
    <h1 class="mb-4">التبرع</h1>
    <p>إذا كنت ترغب في مساعدتنا والتبرع لنا، يرجى الاتصال بزملائنا.</p>
    <!-- E‑Mail -->
    <p class="mb-2">
      <strong>E‑Mail:</strong>
      <a href="ezidi3aug.org@gmail.com">ezidi3aug.org@gmail.com</a>
    </p>

    <!-- Telefon -->
    <p class="mb-2">
      <strong>Telefon:</strong>
      <a href="tel:+4917632765269">+49&nbsp;176&nbsp;327&nbsp;65269</a>
    </p>

  </div>
</section>
{% endblock %}
